:root {
  --background-color: #fff2e5;
  --custom-shadow: rgba(164, 164, 167, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --red-font-color: #CC0200;
  --blue-font-color: #325c84;
  --green-font-color: #458B00;
  --red-hover-color: #99103d;
  --grey-font-color: #333333;
  --black-font-color: #231F20;
}

a {
  color: var(--blue-font-color);
}

a:hover{
  color: var(--red-hover-color);
}
body {
  background: var(--background-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-left: 0;
  color: var(--black-font-color);
}

button {
  transition: ease-in-out 200ms;
  border-radius: 4px;
  box-shadow: var(--custom-shadow);
  background-color: var(--blue-font-color);
  margin: 10px 0 5px 0;
  padding: 3px 11px;
  color: white;
}

button:hover {
  background-color: var(--red-hover-color);
  color: white;
}

h1 {
  font-size: 27px;
  font-weight: 530;
  padding: 60px 0px 20px 0px;
  color: var(--blue-font-color);
}

h2 {
  font-size: 23px;
  padding: 15px 0 5px 0;
  font-weight: 600;
  color: var(--grey-font-color);
}

h3 {
  font-size: 20px;
  padding: 5px 0 5px 0;
}

h4 {
  font-size: 18px;
  padding-bottom: 5px;
}

h5 {
  font-size: 16px;
}

h6 {
  color: var(--grey-font-color);
  font-weight: bold;
  text-decoration: underline;
}

input,
textarea {
  outline: none;
}

li > .nav-link {
  margin: 0px 20px 0px 0px;
  font-weight: bolder;
}

.table svg {
  fill: white;
  height: 15px; ;

}
.about
 {
  line-height: 2;
  padding: 30px 20px 20px 20px;
}

.blue {
  color: var(--blue-font-color);
}
.closing_price {
  color: var(--grey-font-color);
  font-weight: 800;
}

.edit_content {
  text-align: left;
  margin: 0;
}

.graphs, .notes-section {
  display: none;
  margin: 30px;
}

 .remove-ticker-button {
  font-size: 12px;
  margin-top: 3px;
  opacity: 0.83;
  width: 40px;
}

.graph-button, .notes-button{
  font-size: 12px;
  margin-top: 1px;
  opacity: 0.83;
  width: 60px;
}
.green-circle {
  color: var(--green-font-color);
  padding: 4px 13px;
  border: 1px solid var(--green-font-color);
  border-radius: 50%;
}

.grey {
  color: var(--black-font-color);
  opacity: 0.7;

}

.bright-red-circle {
  color: var(--red-font-color);
  padding: 4px 13px;
  border: 1px solid var(--red-font-color);
  border-radius: 50%;

}

.hide_signal_details {
  font-size: 13px;
  padding: 2px 3px;
}
.ind_result{
  display: none;
}

.navbar {
  background-color: var(--blue-font-color);
}

.navbar-brand {
  font-size: 23px;
  padding-left: 20px;
}
.message,
.price_change_red,
#search_error_message {
  color: var(--red-font-color);
}

.price_change_green {
  color: var(--green-font-color);
}

.question {
  font-size: 13px;
  padding-bottom: 5px;
  color: var(--grey-font-color);
  transition: ease-in-out 200ms;
}

.question:hover {
  color: var(--red-hover-color);
}

.rec {
  font-weight: 900;
  font-size: 15px;
}

.red {
  color: var(--red-hover-color);
  font-weight: bolder;
}

.result_table td, .result_table th, .backtest_table td, .backtest_table th{
  text-align: center;
  font-size: 14px;
  vertical-align: middle;

}
.result_table th {
  font-size: 14px;

}

.rec-watchlist {
  display: block;
  text-align: center;
  font-weight: 900;
  color: var(--blue-font-color);
}


.centre {
  display: block;
  margin: auto;
  text-align: center;
  align-items: center;
}

.signal, .backtest-params {
  font-weight: bolder;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 8px 30px;
  background: #e0e3e5;
  border-radius: 4px;

}

.signal-checkbox {
  font-weight: bolder;
  color: var(--red-hover-color);
}

.signals, .backtest  {
  display: block;
  margin: auto;
  text-align: start;
  font-size: 15px;
}

.stock_link {
  border-radius: 4px;
  box-shadow: var(--custom-shadow);
  margin: 0px 20px 0px 0px;
  text-decoration: none;
  padding: 6px 10px;
  color: var(--blue-font-color);
  background-color: white;
  z-index: 99;
}

.table {
  font-size: 12px;
  color: var(--blue-font-color);
}


.tickers {
  font-weight: 800;
  color: var(--red-hover-color);
}
.saved-signal {
  display: none;
  max-width: 330px;
  padding: 5px 13px;
  box-shadow: var(--custom-shadow);
  margin: 0 auto;
  background: white;
  border-radius: 4px;
}

.saved-signal-heading{
  color: var(--red-hover-color);
  font-weight: 900;
  font-size: 15px;
}

.stock_info, .ind_result {
  border-radius: 4px;
  box-shadow: var(--custom-shadow);
  margin: 0px 0 10px 0;
  color: var(--blue-font-color);
  text-decoration: none;
  padding: 4px 8px;
  background-color: white;
}


.watchlist, .add-signal{
  border-radius: 4px;
  box-shadow: var(--custom-shadow);
  margin: 10px 0 10px 0;
  color: var(--blue-font-color);
  text-decoration: none;
  padding: 4px 8px;
  background-color: white;
}
.watchlist-ticker {
  color: var(--red-hover-color);
  font-weight: 850;
  font-size: 15px;
}
.welcome {
  text-align: center;
  margin-bottom: 15px;
}

#A {
  display: block;
}

.existing_signal_message, .signal_saved_message {
  color: var(--green-font-color);
  margin: 10px 0;
}

#positive_outcome, #negative_outcome {
  font-weight: bold;
  padding-bottom: 30px;
}

#negative_outcome {
    color: var(--red-font-color);
}

#positive_outcome {
    color: var(--green-font-color);
}

.
#outcome_card {
  width: 700px;
  display: block;
  margin: 0 auto;
}

#result-table {
  margin:30px;
  }

#searchButton {

  display: block;
  margin: 0 auto;
}

#search_error_message {
  text-align: center;
}

.signal_saved_message {
  display: none;
}

#stock_name {
  color: var(--grey-font-color);
  font-weight: 900;
}

#topButton {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 330px;
  right: 0px;
  padding: 10px 7px;
  text-decoration: none;
  color: var(--blue-font-color);
  background-color: white;
  font-weight: bold;
  font-size: 24px;
  box-shadow: var(--custom-shadow);
  border-radius: 4px;
}

#username {
  display: none;
}


@media (max-width: 991px) {
  body {
    font-size: 14px;
  }

  .index-card {
    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}


