{% extends "stock_screener/layout.html" %}
{% load static %}
<div id="about_section">
    {% block body %}


        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" id="top" href="{% url 'index' %}">StockScreener</a>

                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-end w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Search</a>
                        </li>

                        {%  if user.is_authenticated %}

                            <li class="nav-item">
                                <a class="nav-link watchlist-loader" href="{% url 'watchlist' %}">Watchlist</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'backtester' %}">Back Tester</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'about' %}">About</a>
                        </li>

                        {%  if user.is_authenticated %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
{% include "stock_screener/child_templates/loader.html" %}
        <div class="container main">



        <h2 class="mb-3">How to use StockScreener</h2>

    <h6 class="mb-3">Search page</h6>
    <ul>
      <li class="mb-1">
        Enter the ticker for your chosen stock in the search box.
      </li>
        <li class="mb-1">
            Tick the boxes for the signals you would like to combine for the stock performance analysis and update the default parameters for these signals if required.
        </li>
        <li class="mb-1">Click "Get Results" to run stock performance analysis using the selected signals/settings.</li>
      <li class="mb-1">
        If you are logged in, the results page will allow you to add the selected stock to your watchlist and/or save your combination of signals/settings so that it can be applied to your watchlisted items.
      </li>
    </ul>

        <h6>Watchlist page</h6>
            <em>Available to logged in users only</em>
    <ul>
      <li class="mt-3 mb-1">
        Make sure you have added at least one stock to your watchlist and saved your preferred combination of signals.
      </li>
        <li class="mb-1">
            Go to the "Watchlist" page to view today's performance analysis and recommendations for your watchlisted stocks based on the combination of signals you have previously saved.
        </li>
        <li class="mb-1"></li>
      <li class="mb-1">
        </li>
    </ul>
        </div>
{% endblock %}
</div>