{% extends "stock_screener/layout.html" %}
{% load static %}
<div id="all_backtester">
{% block body %}


<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="top" href="{% url 'index' %}">StockScreener</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-end w-100">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Search</a>
        </li>

        {%  if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'backtester' %}">Back Tester</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {% if not overallResult %}

  <div class="welcome">
    <h1>Back Tester</h1>
    <h4>Please select the relevant signals and parameters below</h4>
    {% if message %}
        <p id="search_error_message">{{ message }}</p>
    {% endif %}


  </div>
    <div class="stock_search mt-2 mb-1">
        <form action="" method="post">
        {% csrf_token %}


            {% include "stock_screener/child_templates/signal_builder.html" %}

            <h3 class="centre mb-3 mt-3">Additional parameters</h3>
            <div class="backtest">

                    <div class="backtest-params row mt-3">

                            <div class="col-6">
                                Days to Complete Buy Order  {{ stockForm.days_to_buy }}
                            </div>

                            <div class="col-6">
                                Days to Complete Sell Order  {{ stockForm.days_to_sell }}
                            </div>

                    </div>

                    <div class="backtest-params row mt-3">

                            <div class="col-6">
                                Buy Price Adjustment  {{ stockForm.buy_price_adjustment }}
                            </div>

                            <div class="col-6">
                                Sell Price Adjustment  {{ stockForm.sell_price_adjustment }}
                            </div>
                    </div>

                    <h3 class="centre mt-3">Tickers to include in back test</h3>

                    <div class="backtest-params row mt-3">

                        {%  for t in stockForm.tickers %}
                            <div class="col-lg-3 col-sm-6 col-md-4">{{ t }}</div>
                        {% endfor %}

                    </div>

                </div>

            <div class = "mt-3">
                <button type="submit" id="searchButton" >Get Results</button>
            </div>

        </form>

    </div>




   {% else %}

      <div id="main_outcome_section">
        {% if overallResult > 0 %}
        <h2 class="centre mt-5" id="positive_outcome">
            Using this signal would have earned you {{ overallResult }}%
        </h2>
        {% else %}

        <h2 class="centre mt-5" id="negative_outcome">
            Using this signal would have lost you {{ overallResult }}%
        </h2>
        {% endif %}


        <div class="stock_info card mb-4" id="outcome_card">
            <div class="card-body">

                {{ htmlJointTable | safe }}
            </div>
        </div>
      </div>

        {% for name, table in allTables.items %}
        <div class="ind_result card mb-4" id="{{ name }}_card">
        <h4 class="card-title" >{{ name }}</h4>
            <div class="card-body">

                {{ table | safe }}
            </div>
        <button class="close_ind_outcome_button">
            Back to results summary
        </button>
        </div>


      {% endfor %}

   {% endif %}
</div >
{% endblock %}
</div>