{% extends "stock_screener/layout.html" %}
{% load static %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="top" href="{% url 'index' %}">StockScreener</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-end w-100">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Search</a>
        </li>

        {%  if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'watchlist' %}">Watchlist</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'backtester' %}">Back Tester</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% if empty_message %}

    <h4 class="mt-5 ms-5">{{ empty_message }}</h4>

{% else %}


    <div id="result-table">{{ htmlResultTable | safe }}</div>

    {% for item in watched_tickers  %}
            <div class = "graphs" id="{{ item.ticker }}_graph">

                <div class="row">

                    <div class="col" > {{ item.graph | safe }}</div>
                    <div class="col">
                        <h4>Your notes for {{ item.ticker }}:</h4>
                        <form
                            class="edit_notes"
                            id="editNotes{{ item.tickerID }}"
                            data-stock_id="{{ item.tickerID }}"
                            >
                            <div class="form-group">
                                <textarea
                                    class="edit_content form-control"
                                    id="editContent{{ item.tickerID }}"
                                    rows="12"
                                    >
                                        {{ item.notes }}
                                </textarea>
                                <button
                                    class="save_notes_button"
                                    type="submit"
                                    data-ticker_id="{{ item.tickerID }}"
                                >
                                    Save notes
                                </button>
                                <br />
                                <button class="close-graph mt-1">Close graph and notes</button>

                            </div>
                        </form>
                        <p class="message mt-2 mb-3" id="messageNotes{{ item.tickerID }}"></p>
                    </div>
                </div>
            </div>

    {% endfor %}
    {% endif %}
{% endblock %}