<div class="ind_result card mt-4 mb-4" id="{{ item.ticker }}_card">
        <h4 class="card-title mt-3 ms-3 red" >{{ item.ticker }}</h4>

                <h5 class="ind-backtest-info ms-3"><span class = "grey">Backtesting outcome: </span><strong>{{ item.result }}%</strong></h5>


            <div class="card-body">
                {{ item.htmlIndStatsTable | safe }}
            </div>

            <div class="card-body">
                {{ item.indTable | safe }}
            </div>
        <button class="close_ind_outcome_button ms-3 mb-3">
            Back to results summary
        </button>
</div>