

      <h3 class="centre mb-3">Signal Constructor</h3>
      <div class="signals">


          <div class="signal row mt-3">
              <div class="stock_search col-3 mt-1 red">
                  {{ stockForm.ma }}  Moving Average
              </div>
              <div class="col-9">
                  <div class="row mb-1">
                    <div class="col">
                        <div class="row">
                            <div class="col-6"><span class="parameters">Short term</span></div>
                            <div class="col">{{ stockForm.maWS }}  days</div>
                        </div>

                    </div>
                    <div class="col">
                        {{ stockForm.maS }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <span class="parameters">Long term</span>
                            </div>
                            <div class="col">
                                {{ stockForm.maWL }}  days
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        {{ stockForm.maL }}
                    </div>
                  </div>
              </div>

          </div>


          <div class="signal row mt-3">
              <div class="stock_search col-3 mt-1 red">
                  {{ stockForm.psar }}  Parabolic SAR
              </div>
              <div class="col-9">
                  <div class="row">
                      <div class="col">
                          <span class="parameters">Acceleration Factor (AF)</span>  {{ stockForm.psarAF }}
                      </div>
                      <div class="col">
                          <span class="parameters">Maximum Acceleration (MA)</span>  {{ stockForm.psarMA }}
                      </div>
                  </div>
              </div>

          </div>
          <div class="signal row mt-3">
              <div class="stock_search col-3 mt-1 red">
                  {{ stockForm.adx }}   ADX
              </div>
              <div class="col-9">
                  <div class="row">
                      <div class="col">
                          <span class="parameters">Term</span>  {{ stockForm.adxW }}  days
                      </div>
                      <div class="col">
                          <span class="parameters">Limit</span>  {{ stockForm.adxL }}
                      </div>
                  </div>

              </div>
          </div>


          <div class="signal row mt-3">
              <div class="stock_search col-3 mt-1 red">
                  {{ stockForm.srsi }}  Stochastic RSI
              </div>
              <div class="col-9">
                  <div class="row">
                      <div class="row mb-1">
                          <div class="col">
                              <span class="parameters">Term</span>  {{ stockForm.srsiW }}  days
                          </div>
                          <div class="col">
                              <span class="parameters">Smooth 1</span>  {{ stockForm.srsiSm1 }}
                          </div>
                          <div class="col">
                              <span class="parameters">Smooth 2</span>  {{ stockForm.srsiSm2 }}
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <span class="parameters">Overbought limit</span>  {{ stockForm.srsiOB }}
                          </div>
                          <div class="col">
                              <span class="parameters">Oversold limit</span>  {{ stockForm.srsiOS }}
                          </div>
                      </div>
                  </div>


              </div>
          </div>
          <div class="signal row mt-3">
              <div class="stock_search col-3 mt-1 red">
                  {{ stockForm.macd }}    MACD
              </div>
              <div class="col-9">
                  <div class="row">
                      <div class="col">
                          <span class="parameters">Fast</span>  {{ stockForm.macdF}}
                      </div>
                      <div class="col">
                          <span class="parameters">Slow</span>  {{ stockForm.macdS }}
                      </div>
                      <div class="col">
                          <span class="parameters">Smoothing Period</span>  {{ stockForm.macdSm }}
                      </div>
                  </div>

              </div>
          </div>
      </div>


