

      <h3 class="centre mb-3">Signal Constructor</h3>
      <div class="signals">


          <div class="signal row mt-3">
              <div class="stock_search col-2 mt-1 red">
                  {{ stockForm.ma }} {{ stockForm.ma.label }}
              </div>
              <div class="col-10">
                  <div class="row mb-1">
                    <div class="col-4">
                        {{ stockForm.maWS.label }}
                        {{ stockForm.maWS }}
                    </div>

                    <div class="col-6">
                        {{ stockForm.maS.label }}
                        {{ stockForm.maS }}
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-4">
                        {{ stockForm.maWL.label }}
                        {{ stockForm.maWL }}
                    </div>
                      <div class="col-6">
                        {{ stockForm.maL.label }}
                        {{ stockForm.maL }}
                    </div>
                  </div>
              </div>
          </div>




          <div class="signal row mt-3">
              <div class="stock_search col-2 mt-1 red">
                  {{ stockForm.psar }} {{ stockForm.psar.label }}
              </div>
              <div class="col-10">
                  <div class="row">
                      <div class="col-4">
                          {{ stockForm.psarAF.label}} {{ stockForm.psarAF }}
                      </div>
                      <div class="col-4">
                          {{ stockForm.psarMA.label }} {{ stockForm.psarMA }}
                      </div>
                  </div>
              </div>
          </div>

          <div class="signal row mt-3">
              <div class="stock_search col-2 mt-1 red">
                  {{ stockForm.adx }} {{ stockForm.adx.label }}
              </div>
              <div class="col-10">
                  <div class="row">
                      <div class="col-4">
                          {{ stockForm.adxW.label }} {{ stockForm.adxW }}
                      </div>
                      <div class="col-4">
                          {{ stockForm.adxL.label }} {{ stockForm.adxL }}
                      </div>
                  </div>
              </div>
          </div>


          <div class="signal row mt-3">
              <div class="stock_search col-2 mt-1 red">
                  {{ stockForm.srsi }} {{ stockForm.srsi.label }}
              </div>
              <div class="col-10">
                  <div class="row">
                      <div class="row mb-1">
                          <div class="col">
                              {{ stockForm.srsiW.label }}  {{ stockForm.srsiW }}
                          </div>
                          <div class="col">
                              {{ stockForm.srsiSm1.label }} {{ stockForm.srsiSm1 }}
                          </div>
                          <div class="col">
                              {{ stockForm.srsiSm2.label }} {{ stockForm.srsiSm2 }}
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              {{ stockForm.srsiOB.label }} {{ stockForm.srsiOB }}
                          </div>
                          <div class="col">
                              {{ stockForm.srsiOS.label }} {{ stockForm.srsiOS }}
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="signal row mt-3">
              <div class="stock_search col-3 mt-1 red">
                  {{ stockForm.macd }}    MACD
              </div>
              <div class="col-9">
                  <div class="row">
                      <div class="col">
                          <span class="parameters">Fast</span>  {{ stockForm.macdF}}
                      </div>
                      <div class="col">
                          <span class="parameters">Slow</span>  {{ stockForm.macdS }}
                      </div>
                      <div class="col">
                          <span class="parameters">Smoothing Period</span>  {{ stockForm.macdSm }}
                      </div>
                  </div>

              </div>
          </div>
      </div>


