<div>
    <div class="stock_info card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-2" id="ticker_name">{{ ticker }} ({{ tickerName }})</h4>
            <div class="additional_info mb-3">

                {%  if industry %}
                    {{ industry }}
                {% endif %}

                {#                {%  if sector %}#}
                {#                    {{ sector }}#}
                {#                {% endif %}#}
                {##}
                {#                {% if sector and country %}#}
                {#                    -#}
                {#                {% endif %}#}
                {##}
                {#                {%  if country %}#}
                {#                    {{ country }}#}
                {#                {% endif %}#}
            </div>



            {{ htmlResultTable | safe }}

            {% if user.is_authenticated %}

                {% if watchlisted %}

                    <div class="card-link mb-3">
                        <a
                                href="/"
                                class="watchlist"
                                data-ticker_name="{{ ticker }}"
                                data-ticker_id="{{ tickerID }}"
                                data-ticker_full="{{ tickerName }}"
                        >
                            Remove {{ ticker }} from watchlist
                        </a>
                    </div>

                {% else %}
                    <div class="card-link mb-3">
                        <a
                                href="/"
                                class="watchlist"
                                data-ticker_name="{{ ticker }}"
                                data-ticker_id="{{ tickerID }}"
                                data-ticker_full="{{ tickerName }}"
                        >
                            Add {{ ticker }} to watchlist
                        </a>
                    </div>

                {% endif %} {% else %}

                <p><small>
                    Please
                    <a href="{% url 'login' %}" class="bright-red">log In</a>
                    or <a href="{% url 'register' %}" class="bright-red">register</a> to add this stock to your
                    watchlist or to apply this signal to watchlisted items.
                </small></p>

            {% endif %}

            {% if user.is_authenticated %}

                {% include "stock_screener/child_templates/save_signal_button.html" with signalSelected=signalSelected constructorAdded=constructorAdded newSignal=newSignal %}
            {% endif %}
        </div>
    </div>

    {% if signalSelected %}
        {% if htmlBacktestTable is not None %}
            <div class="stock_info card mb-3">
                <div class="card-body">
                    <h4 class="card-title bold"><span class="backtest_search_title">Signal Back Test ({{ ticker }}, 12 Months)</span>
                        <div class="mt-2">
                            {%  if backtestResult < 0 %}
                                <span class="bright-red rec">{{ backtestResult }}%</span>
                            {% else %}
                                <span class="green rec">+{{ backtestResult }}%</span>
                            {% endif %}
                        </div>
                    </h4>


                    <div id="backtesting-table">{{ htmlBacktestTable | safe }}</div>
                 <p><small>
                    Please use the
    <a href="{% url 'backtester' %}">Backtester</a> to test this signal on a wider range of stocks using additional parameters</small></p>
            </div></div>

        {% else %}
            <div class="stock_info card mb-4">
                <div class="card-body">
                    <h4 class="card-title" id="ticker_name">Please review the signal</h4>
                    <h5 class="card-subtitle mb-2 grey">
                        Insufficient number of buy/sell recommendations have been generated for this ticker
                    </h5>
                </div>
            <p><small>
                    Please use the
    <a href="{% url 'backtester' %}">Backtester</a> to test this signal on a wider range of stocks using additional parameters.</small></p>
            </div>
        {% endif %}

    {% endif %}

</div>