<div>
    <div class="stock_info card mb-4">
        <div class="card-body">
            <h4 class="card-title" id="ticker_name">{{ ticker }} ({{ tickerName }})</h4>
            <h5 class="card-subtitle mb-2">
                <span class="text-muted">Last closing price:</span>
                <span class="closing_price">{{ closingPrice }} USD</span>
            </h5>
            <h5 class="card-subtitle mb-2">
                <span class="price_change_{{ priceChange.1 }}">{{ priceChange.0 }}</span>
            </h5>


        </div>

        {{ htmlResultTable | safe }}

        {% if user.is_authenticated %}

        {% if watchlisted %}

        <div class="card-link">
            <a
            href="#"
            class="watchlist"
            data-ticker_name="{{ ticker }}"
            data-ticker_id="{{ tickerID }}"
            data-ticker_full="{{ tickerName }}"
            >
                Remove {{ ticker }} from watchlist
            </a>
        </div>

        {% else %}

        <a
            href="#"
            class="watchlist"
            data-ticker_name="{{ ticker }}"
            data-ticker_id="{{ tickerID }}"
            data-ticker_full="{{ tickerName }}"
        >
            Add {{ ticker }} to watchlist
        </a>

        {% endif %} {% else %}

        <p>
            Please
            <a href="{% url 'login' %}">log In</a>
            or <a href="{% url 'register' %}">register</a> to add this stock to your
            watchlist
        </p>

        {% endif %}

        {% if user.is_authenticated %}

            {% if signalSelected %}

                {% if constructorAdded %}

                    <div id = "existing_signal_message">You have previously saved this signal for your watchlisted items</div>

                {% else %}

                    <a  href="#" class="add-signal"
                    data-ma="{{ newSignal.ma }}"
                    data-maS="{{ newSignal.maS }}"
                    data-maL="{{ newSignal.maL }}"
                    data-maWS="{{ newSignal.maWS }}"
                    data-maWL="{{ newSignal.maWL }}"
                    data-psar="{{ newSignal.psar }}"
                    data-psarAF="{{ newSignal.psarAF }}"
                    data-psarMA="{{ newSignal.psarMA }}"
                    data-adx="{{ newSignal.adx }}"
                    data-adxW="{{ newSignal.adxW }}"
                    data-adxL="{{ newSignal.adxL }}"
                    data-srsi="{{ newSignal.srsi }}"
                    data-srsiW="{{ newSignal.srsiW }}"
                    data-srsiSm1="{{ newSignal.srsiSm1 }}"
                    data-srsiSm2="{{ newSignal.srsiSm2 }}"
                    data-srsiOB="{{ newSignal.srsiOB }}"
                    data-srsiOS="{{ newSignal.srsiOS }}"
                    data-macd="{{ newSignal.macd }}"
                    data-macdF="{{ newSignal.macdF }}"
                    data-macdS="{{ newSignal.macdS }}"
                    data-macdSm="{{ newSignal.macdSm }}"
                    data-previousSignal = "{{ savedConstructor }}"

                >
                    {% if not savedConstructor %}
                        Save this signal
                    {% else %}
                        Replace your saved signal with this one
                    {%  endif %}
                </a>

                    <div id ="signal_saved_message">This signal has been saved for your watchlisted items</div>
                {%  endif %}
            {% endif %}
        {% endif %}
    </div>

    {% if signalSelected %}
    <div class="stock_info card mb-4">
        <div class="card-body">
            <h4 class="card-title" id="ticker_name">Backtesting this signal</h4>
            <h5 class="card-subtitle mb-2">
                <span class="text-muted">Outcome for {{ ticker }}</span>
                <span class="closing_price">{{ backtestResult }}</span>
            </h5>

            <div id="backtesting-table">{{ htmlBacktestTable | safe }}</div>
        </div>
    </div>

    {% endif %}

</div>